@page "/"
@using LeDrink.DAL.Interfaces
@using LeDrink.DAL.Models
@inject IUnitOfWork _uow

<PageTitle>Lé Drink</PageTitle>

<div class="container-fluid" >
    <div style="margin-right: 10%; margin-left: 10%;">


<!-- BOTTLES -->
    <div class="row" >
        <Title Type="1">Current Bottles in Machine</Title>
        @foreach (var bottle in _allBottles.Where(b => b.BottleSlotId is not null))
        {
        <div class="col-sm" style="margin-bottom: 5%">
            <RadzenCard  style="width: 100%; height: 100%; cursor: pointer;" class="@(bottle.Id == _chosenBottle.Id ? "text-white border-success" : "")" @onclick="@(() => ChangeBottleInSlot(bottle))">
                <div class="container" style="text-align: center;">
                    <div class="row">
                        <h2>@($"SLOT {@bottle.BottleSlotId}")</h2>
                    </div>
                        <br/>
                    <div class="row" style="justify-content: center">
                        <RadzenImage Path="@bottle.ImgPath" Style="object-fit:cover; height: 50%; width: 50%" />
                    </div>
                        <br/>
                    <div class="row">
                        <h4>@bottle.BottleName</h4> 
                    </div>
                    <div class="row">
                        <Text>@($"{bottle.MaxMl} / {bottle.CurrentMl}ml ")</Text>
                        <br/>
                        <br/>
                    </div>
                </div>
            </RadzenCard>
        </div>  
        }
    </div>


<!-- DRINKS -->
    <div class="row" >
        <div class="col">
            <Title Type="1">Drinks</Title>
            <Button Shape="@ButtonShape.Round" Type="@AntDesign.ButtonType.Primary" @onclick="CreateDrink"> Add new Drink</Button>
            <hr/>
        </div>
    </div>

    <div class="row" >
            <!-- Favourite Drinks -->
            <Title Type="3">Favourite Drinks</Title>
            @foreach (var drink in _drinks.Where(b => b.IsFavourite == true))
            {
                <div class="col-sm" style="width: 100%; height: 100%;  margin-bottom: 30px;">
                    <RadzenCard class="center" Style="width: 100%; height: 100%">
                    <div class="d-flex align-items-center">
                        <div class="image"> <RadzenImage Path="@drink.ImgPath" Class="rounded-circle" Style="width:150px; height: 150px; object-fit:cover;" /></div>
                        <div class="ml-3 w-100">
                            <Button Class="float-right" style="margin-right: -15px; margin-top: -25px" Type="@AntDesign.ButtonType.Primary" Shape="@ButtonShape.Circle" Icon="@IconType.Fill.Star" @onclick="(() => ToggleFavDrink(drink))"/>
                            <h4 class="mb-0 mt-0">@drink.DrinkName (@drink.TotalMl)  </h4>
                            <div class="p-2 mt-2 bg-primary d-flex justify-content-between rounded text-white stats">
                                @foreach(var mix in drink.Mixes)
                                {
                                    <div class="d-flex flex-column"> <span class="articles">@mix.Bottle.BottleName</span> <span class="number1">@mix.Milliliters</span> </div>
                                }
                            </div>
                            <div class="button mt-2 d-flex flex-row align-items-center">
                            <Button @onclick="(() => EditDrink(drink))" Type="@AntDesign.ButtonType.Primary" Class="w-100">
                                <Icon Type="edit" Theme="fill"/>
                            </Button>
                            <Button @onclick="(() => MakeDrink(drink))" Type="@AntDesign.ButtonType.Primary" Class="w-100">
                                MAKE DRINK
                            </Button>
                             </div>
                        </div>
                    </div>
                </RadzenCard>
                    </div>
            }
    </div>
    
    <style>


.stats {
    background: #f2f5f8 !important;
    color: #000 !important
}

.articles {
    font-size: 10px;
    color: #a1aab9
}

.number1 {
    font-weight: 500
}

.followers {
    font-size: 10px;
    color: #a1aab9
}

.number2 {
    font-weight: 500
}

.rating {
    font-size: 10px;
    color: #a1aab9
}

.number3 {
    font-weight: 500
}
    </style>


    <br/>
    <hr />
    <br/>



    <!-- Other Drinks -->
   <div class="row" >
            <Title Type="3">Other Drinks</Title>
            @foreach (var drink in _drinks.Where(b => b.IsFavourite == false))
            {
                <div class="col-sm" style="min-width: 440px; max-width: 440px; margin-bottom: 30px;">
                    <RadzenCard class="center" Style="width: 100%; height: 100%">
                    <div class="d-flex align-items-center">
                        <div class="image"> <RadzenImage Path="@drink.ImgPath" Class="rounded-circle" Style="width:150px; height: 150px; object-fit:cover;" /> </div>
                        <div class="ml-3 w-100">
                            <Button Class="float-right" style="margin-right: -15px; margin-top: -25px" Type="@AntDesign.ButtonType.Primary" Shape="@ButtonShape.Circle" Icon="@IconType.Outline.Star" @onclick="(() => ToggleFavDrink(drink))"/>
                            <h4 class="mb-0 mt-0">@drink.DrinkName (@drink.TotalMl) </h4>
                            
                            <div class="p-2 mt-2 bg-primary d-flex justify-content-between rounded text-white stats">
                                @foreach(var mix in drink.Mixes)
                                {
                                    <div class="d-flex flex-column"> <span class="articles">@mix.Bottle.BottleName</span> <span class="number1">@mix.Milliliters</span> </div>
                                }
                            </div>
                            <div class="button mt-2 d-flex flex-row align-items-center">
                            <Button @onclick="(() => EditDrink(drink))" Type="@AntDesign.ButtonType.Primary"  Class="w-100">
                                <Icon Type="edit" Theme="fill"/>
                            </Button>
                            <Button @onclick="(() => ToggleFavDrink(drink))" Type="@AntDesign.ButtonType.Primary" Class="w-100 ml-2">
                                <Icon Type="star" Theme="outline"/>
                            </Button>
                             </div>
                        </div>
                    </div>
                </RadzenCard>
                    </div>
            }
    </div>


    <!-- DRINK MODAL LOGIC-->
    @if (_showCreateDrinkModal && _drinkInModal != null)
    {
        <LeDrink.Web.Shared.Components.CreateDrinkModal _drink="_drinkInModal" OnValidSubmit="ValidSubmitCreateDrink"/>
    }
    @if (_showEditDrinkModal && _drinkInModal != null)
    {
        <LeDrink.Web.Shared.Components.EditDrinkModal _drink="_drinkInModal" OnValidSubmit="ValidSubmitEditDrink"/>
    }


    <!-- BOTTLE MODAL LOGIC-->
    @if (_showBottleCrudModal && _bottleInCrudModal != null && !_bottleCrudModalIsEdit)
    {
        <LeDrink.Web.Shared.Components.BottleModal _drink="_drinkInModal" OnValidSubmit="ValidSubmitCreateBottle" HeaderText="Create Bottle"/>
    }
    @if (_showBottleCrudModal && _bottleInCrudModal != null && _bottleCrudModalIsEdit)
    {
        <LeDrink.Web.Shared.Components.BottleModal _selectedBottle="_bottleInCrudModal" OnValidSubmit="ValidSubmitEditBottle" HeaderText="Edit DrinkBottle"/>
    }


    <!-- Change bottle in Slot -->
    @if (_showChangeBottleModal && _selectedSlotId != null)
    {
        <LeDrink.Web.Shared.Components.ChangeBottleModal BottleSlotId="_selectedSlotId" _allBottles=_allBottles _selectedBottle=_chosenBottle OnValidSubmit=ValidSubmitSlotChange/>
    }
    </div>
</div>


@code{
    // Global Site Data
    private List<Drink> _drinks = new();
    private List<Bottle> _allBottles = new();

    // Drink Modals
    private Drink _drinkInModal { get; set; }
    private bool _showEditDrinkModal { get; set; }
    private bool _showCreateDrinkModal { get; set; }

    // Edit Bottle Modal
    // Create Bottle Modal
    private bool _showBottleCrudModal { get; set; }
    private Bottle _bottleInCrudModal { get; set; }
    private bool _bottleCrudModalIsEdit { get; set; }

    // Change Slot Modal
    private bool _showChangeBottleModal { get; set; }
    private int _selectedSlotId { get; set; }
    private Bottle _chosenBottle = new();


    protected override async Task OnInitializedAsync()
    {
        await LoadActiveBottles();
        await LoadAllDrinks();
    }

    /// --------------------------------------------
    /// INITIALIZING (Loading, Refreshing)
    /// --------------------------------------------

    private async Task LoadAllDrinks()
    {
        // load drinks from repo
        _drinks = await _uow.DrinkRepo.GetDrinks();
    }

    private async Task LoadActiveBottles()
    {
        _allBottles = (await _uow.BottleRepo.GetBottles())
                                .OrderBy(b => b.BottleSlotId).ToList();
    }

    private async Task RefreshData()
    {
        await LoadActiveBottles();
        await LoadAllDrinks();
    }    

    /// --------------------------------------------
    /// CRUD ACTIONS (Create, Remove, Update, etc.)
    /// --------------------------------------------

    private async Task ChangeBottleInSlot(Bottle bottle)
    {
        _chosenBottle = bottle;
        _selectedSlotId = (int)bottle.BottleSlotId;
        _showChangeBottleModal = true;
    }

    private void EditDrink(Drink drink)
    {
        _drinkInModal = drink;
        _showEditDrinkModal = true;
    }

    private void CreateDrink()
    {
        _drinkInModal = new()
        {
            Mixes = new List<Mix>()
        };
        _showCreateDrinkModal = true;
    }

    private async Task ToggleFavDrink(Drink drink)
    {
        drink.IsFavourite = !drink.IsFavourite;

        await RefreshData();
    }


    private async Task RemoveDrink(Drink drink)
    {
        await _uow.DrinkRepo.RemoveDrink(drink);
        await _uow.SaveChanges();

        await RefreshData();
    }

    private async Task MakeDrink(Drink drink)
    {
        await _uow.RaspiRepo.MakeDrink(drink);
    }

    /// --------------------------------------------
    /// COMPONENT SUBMIT HANDLERS
    /// --------------------------------------------

    private async Task ValidSubmitCreateDrink(Drink drink)
    {
        if(drink is null)
        {
            await CancelSubmit();
            return;
        }

        // Create new Drink
        await _uow.DrinkRepo.AddDrink(drink);
        await _uow.SaveChanges();
        _showCreateDrinkModal = false;
        _drinkInModal = null;

        await RefreshData();
    }

    private async Task ValidSubmitEditDrink(Drink drink)
    {
        if(drink is null)
        {
            await CancelSubmit();
            return;
        }

        // Update existing Drink
        await _uow.DrinkRepo.UpdateDrink(drink);
        await _uow.SaveChanges();
        _showEditDrinkModal = false;
        _drinkInModal = null;

        await RefreshData();
    }

    private async Task ValidSubmitCreateBottle(Bottle bottle)
    {
        if(bottle is null)
        {
            await CancelSubmit();
            return;
        }

        // Create new Drink
        await _uow.BottleRepo.AddBottle(bottle);
        await _uow.SaveChanges();
        _showBottleCrudModal = false;
        _bottleInCrudModal = null;

        await RefreshData();
    }

    private async Task ValidSubmitEditBottle(Bottle bottle)
    {
        if(bottle is null)
        {
            await CancelSubmit();
            return;
        }

        // Update existing Drink
        await _uow.BottleRepo.UpdateBottle(bottle);
        await _uow.SaveChanges();
        _showBottleCrudModal = false;
        _bottleInCrudModal = null;

        await RefreshData();
    }

    private async Task ValidSubmitSlotChange(Bottle bottle)
    {
        if(bottle is null)
        {
            await CancelSubmit();
            return;
        }

        _chosenBottle.BottleSlotId = null;

        // Update drink
        await _uow.BottleRepo.UpdateBottle(_chosenBottle);
        await _uow.BottleRepo.UpdateBottle(bottle);
        _showChangeBottleModal = false;
        _chosenBottle = null;
        _selectedSlotId = 0;

        await RefreshData();
    }

    private async Task CancelSubmit()
    {
        _showCreateDrinkModal = false;
        _drinkInModal = null;

        _showBottleCrudModal = false;
        _bottleInCrudModal = null;

        _showChangeBottleModal = false;
        _chosenBottle = new();
        _selectedSlotId = 0;
    }



}