@using LeDrink.DAL.Interfaces
@using LeDrink.DAL.Models
@using System.Security.Policy
@inject IUnitOfWork _uow
@inject Radzen.NotificationService NotificationService
@inject IStringLocalizer<BottleModal> Loc
@inject IFileUpload fileUpload

<Modal Title="@ModalTitle"
       Visible="@_modalVisible"
       OnOk="@OkSubmit"
       OnCancel="@CancelModalSubmit"
        Style="top: 1rem"
        Class="fade"> 
        <div class="container" style="height: 38rem; width: 95%;">
            <div class="row">
                    <div class="row" style="margin-bottom: 1em;">
                        <div style="margin-bottom: 3%">
                            <h3 class="fw-bold">Name</h3>
                            <div>
                                <Input Placeholder="@Loc["EnterName"]" style="width: 100%; " @bind-Value="@_bottleViewModel.BottleName" Class="vertical-center"/>
                            </div>
                        </div>
                    </div>
                    <div class="row" style="margin-bottom: 10.5em;">
                            <h3 class="fw-bold">@Loc["IconPicker"]</h3>
                            <BlazorInputFile.InputFile OnChange="HandleFileUpload">Upload a new File</BlazorInputFile.InputFile>
                            <div class="info-div" style="margin-top: 5em;">
                                    <div class="d-flex flex-wrap" style="width: 100%">
                                        @foreach(var img in strFiles)
                                        {
                                            <div class="d-flex flex-column" style="margin: 0.5em" >
                                                <ContextMenuTrigger MenuId="@img">
                                                    <img src="@img" style="height: 7.75em; width: auto; margin: 1%" @onclick=@(() => SetSelectedImage(@img)) class="@(_selectedImg == img && img is not null ? "rcornersGreen" : "")" />
                                                </ContextMenuTrigger>
                                            </div>
                                                <BlazorContextMenu.ContextMenu Id="@img">
                                                    <Item OnClick="@(() => RemoveImage(img))">Delete Image</Item>
                                                </BlazorContextMenu.ContextMenu>
                                        }
                                    </div>
                            </div>
                        <br />
                    </div>
            </div>
        </div>
</Modal>


<style>
    .info-div {
  position: absolute;
  width: 85%;
  z-index: 20;
  max-height: 60%;
  overflow-y: scroll;
}

.vertical-center {
  margin: 0;
  position: absolute;
  top: 50%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

</style>

@code {
    [Parameter] public Bottle _bottle { get; set; } = new();
    [Parameter] public string ModalTitle { get; set; }
    [Parameter] public EventCallback<Bottle> OnValidSubmit { get; set; }

    // Modal Params
    private bool _modalVisible;

    public Bottle _bottleViewModel { get; set; } = new();
    private List<Bottle> _bottles { get; set; }

    /// <summary>
    /// Image picker for bottle
    /// </summary>
    private List<string> strFiles = new();
    private string _selectedImg;
    IFileListEntry file;

    protected override async Task OnInitializedAsync()
    {
        _bottleViewModel = _bottle;

        if(_bottle.ImgPath is not null)
        {
            _selectedImg = _bottle.ImgPath;
        }

        _modalVisible = true;
        await LoadImagesFromWWWRoot();
    }

    private async Task LoadImagesFromWWWRoot()
    {
        //First get the directory on which your all your images reside
        string strDirectory = "wwwroot/images/bottles";

        //Get all files on the directory and store it on string array
        strFiles = Directory.GetFiles(strDirectory).ToList();

        strFiles = strFiles.Select(f => { f = f.Replace("wwwroot", "").Replace("\\", "/"); return f; }).ToList();

        //Put initial image on top
        strFiles.Remove(_selectedImg);
        strFiles.Insert(0, _selectedImg);

        strFiles.RemoveAll(item => item == null);
    }

    private async Task SetSelectedImage(string imagePath)
    {
        if(_selectedImg == imagePath)
        {
            // Deselect image if clicked again
            _selectedImg = null;
            _bottleViewModel.ImgPath = null;
            return;
        }

        _selectedImg = imagePath;
        _bottleViewModel.ImgPath = imagePath;
    }

    // Validation, Cancelation Methods
    private async Task OkSubmit()
    {
        if(await ValidateMlConditions())
        {
            // inputs are all valid
            _modalVisible = false;
            await OnValidSubmit.InvokeAsync(_bottleViewModel);
        }
    }

    private async Task CancelModalSubmit()
    {
        _modalVisible = false;
        await OnValidSubmit.InvokeAsync(null);
    }

    /// <summary>
    /// Validate if the bottle that is being edited is valid
    /// </summary>
    /// <returns>If bottle values are valid</returns>
    private async Task<bool> ValidateMlConditions()
    {
        if(String.IsNullOrEmpty(_bottleViewModel.BottleName))
        {
            ShowError(Loc["DrinkNameEmptyError"]);
            return false;
        }

        if(_bottleViewModel.ImgPath is null)
        {
            ShowError(Loc["ImgPathEmpty"]);
            return false;
        }

        return true;
    }

    private void ShowError(string Message)
    {
        NotificationService.Notify(new NotificationMessage { Severity = NotificationSeverity.Error, Summary = Message, Duration = 4000 });
    }

    private async Task HandleFileUpload(IFileListEntry[] files)
    {
        file = files.FirstOrDefault();
        if(file is not null)
        {
            await fileUpload.Upload(file);
        }

        await LoadImagesFromWWWRoot();
    }

    private async Task RemoveImage(string img)
    {
        var imgPath = @"wwwroot" + img;

        if (File.Exists(imgPath))
        {
            File.Delete(imgPath);
        }
    }
}

