@using LeDrink.DAL.Models
@using AntDesign

@{
    RenderFragment footer = @<Template>
        <Button Type="@AntDesign.ButtonType.Primary"
                @onclick="() => OnConfirmationChange.InvokeAsync(false)">Cancel</Button>
        <Button Type="@AntDesign.ButtonType.Primary" Danger
                @onclick="() => OnConfirmationChange.InvokeAsync(true)">Delete</Button>
</Template>;
}

<Modal Title="@(ConfirmationTitle)"
        Visible=true
        OnOk="@(() => OnConfirmationChange.InvokeAsync(true))"
        OnCancel="@(() => OnConfirmationChange.InvokeAsync(false))"
        Style="top: 6rem"
        Footer=@footer
        Class="fade">
        <div class="container" style="width: 95%;">
        @(ConfirmationMessage)
        </div>
    </Modal>
@code {
    [Parameter] public string ConfirmationTitle { get; set; }
    [Parameter] public string ConfirmationMessage { get; set; }
    [Parameter] public EventCallback<bool> OnConfirmationChange { get; set; }
}
