@using LeDrink.DAL.Interfaces
@using LeDrink.DAL.Models
@inject IUnitOfWork _uow


<AntDesign.Modal Title="@HeaderText"
       Visible="@_modalVisible"
       OnOk="@OkSubmit"
       OnCancel="@CancelModalSubmit">
       <EditForm Model="@_drinkViewModel"
       >
            <div class="row">
                    <div class="row">
                        <div >
                            <Title Level="4">Name</Title>
                            <Input Placeholder="Enter a drink name..." style="width: 100%;" @bind-Value="@_drinkViewModel.DrinkName"  />
                            <br />
                        </div>
                    </div>
                    <div class="row">
                        <div >
                            <Title Level="4">Image Path(URL only)</Title>
                            <Input Placeholder="Enter an Image URL..." style="width: 100%;" @bind-Value="@_drinkViewModel.ImgPath"  />
                            <br />
                        </div>
                    </div>
                    <div class="row">
                        <div>
                            <Title Level="4">Price</Title>
                            <AntDesign.InputNumber style="width: 100%" @bind-Value="_drinkViewModel.Price"/>
                            <br />
                        </div>
                    </div>
                    <br/>
                    <div class="row">
                        <div>
                            <br />
                            <Title Level="2" >Drink Mixer</Title>
                            <hr/>
                        </div>
                        <div class="container">
                        @if(_alert)
                        {
                            <Alert Message="Mix amount is over 450ml!"  Type="@AlertType.Error" />
                        }
                        <!-- Mix settings -->
                        @foreach(var mix in _drinkViewModel.Mixes)
                        {
                            <div class="row">
                                <div>
                                    <div>
                                    @if(mix.Bottle is null)
                                    {
                                        <h3 style="float: left">New Mix</h3>
                                    }
                                    else
                                    {
                                        <h3 style="float: left">@mix.Bottle.BottleName</h3>
                                    }
                                    <Button style="float: right;" Type="@AntDesign.ButtonType.Primary" Danger  @onclick="(() => RemoveMix(mix.Id))">
                                        <Icon Type="delete" Theme="filled"/>
                                    </Button>
                                    </div>
                                    <Select DataSource="@_bottles"
                                            @bind-Value="@mix.Bottle"
                                            LabelName="@nameof(_selectedBottle.BottleName)"
                                            Placeholder="Select a Bottle">
                                    </Select>
                                </div>
                                <div>
                                    <RadzenLabel Text="Amount(ml)" />
                                    <div style="width: 100%">
                                        <AntDesign.InputNumber style="width: 100%" @bind-Value="mix.Milliliters" Min="1" Max="450" DefaultValue="100"/>
                                    </div>
                                    <br />
                                </div>
                                <br />
                                <hr/>
                            </div>
                        }
                        <AntDesign.Button  @onclick="AddMixToDrink" Type="@AntDesign.ButtonType.Primary" Shape="@ButtonShape.Round">
                            <Icon Type="plus" Theme="filled"/> Add new Mix
                        </AntDesign.Button>
                    </div>
                    </div>
            </div>
        </EditForm>
</AntDesign.Modal>

@code {
    [Parameter] public Drink _drink { get; set; } = new();
    [Parameter] public EventCallback<Drink> OnValidSubmit { get; set; }
    [Parameter] public EventCallback CancelSubmit { get; set; }
    [Parameter] public string HeaderText { get; set; }

    // test
    private Slider<double> _tValue;

    // alert
    private bool _alert = false;

    // Modal Params
    private bool _modalVisible;

    public Drink _drinkViewModel { get; set; } = new();
    private List<Bottle> _bottles { get; set; }
    private Bottle _selectedBottle { get; set; }


    protected override async Task OnInitializedAsync()
    {
        _bottles = await _uow.BottleRepo.GetBottles();
        _drinkViewModel = _drink;
        _modalVisible = true;
    }

    private async Task AddMixToDrink()
    {
        _drinkViewModel.Mixes.Add(new Mix
            {
                drinkId = _drinkViewModel.Id,
                Milliliters = 0,
                bottleId = 1
        });
    }

    private async Task SetSelectedBottle(int bottleId)
    {
        _selectedBottle = await _uow.BottleRepo.GetBottle(bottleId);
    }

    // End Methods
    private async Task OkSubmit()
    {
        _modalVisible = false;
        await OnValidSubmit.InvokeAsync(_drinkViewModel);
    }

    private async Task CancelModalSubmit()
    {
        _modalVisible = false;
        await OnValidSubmit.InvokeAsync(null);
    }

    private async Task RemoveMix(int mixId)
    {
        _drinkViewModel.Mixes.Remove(await _uow.MixRepo.GetMix(mixId));
    }
}

